.modal-open {
	/* needed for iOS to not zoom in when modals are opened */
	overflow-y: auto;
}
input[type=text] {
	width: 100%;
}
textarea {
	width: 100%;
}
#encodedInput {
	font-family: monospace;
}
pre {
	white-space: all;
	word-break: normal;
}
.fixed {
	position: fixed;
	width: 100%;
	width: calc(100% - 30px);
	background-color: white;
}
.spacer {
	background-color: white;
}
#codepage td {
	text-align: center;   
}
#codepage th {
	text-align: center;   
}
.modal-xl {
	width: 700px;
}
.table {
	margin-bottom: 0px !important; /* override bootstrap */
}
