[package]
name = "unicode-rustwasm"
version = "0.1.0"
authors = ["printfn <printfn@users.noreply.github.com>"]
edition = "2021"
description = "Rust Web Assembly module for Unicode Unicorn"
repository = "https://github.com/printfn/unicode-unicorn"
license = "MIT OR Apache-2.0 OR CC0-1.0"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
wasm-bindgen = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.89"
lazy_static = "1.4.0"
unicode-rs = "0.1.2"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.1", optional = true }

# `wee_alloc` is a tiny allocator for wasm that is only ~1K in code size
# compared to the default allocator's ~10K. It is slower than the default
# allocator, however.
#
# Unfortunately, `wee_alloc` requires nightly Rust when targeting wasm for now.
wee_alloc = { version = "0.4.2", optional = true }

[dev-dependencies]
wasm-bindgen-test = "0.3"

[build-dependencies]
proc-macro2 = "1.0.9"
quote = "1.0.2"

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
